{% extends "base.html" %}

{% block title %}
    <title>Cooling Forecast</title>
{% endblock %}

{% block content %}
<main>
<section class="content_coolingforecast">
  <div class="content_coolingform">
    <form class="coolingform" method="post">
      <h1>Cooling Tower Forecast</h1>
        {% csrf_token %}
        {{ form.as_p }}
      <p>
        <button type="submit" class="btn btn-primary">Prediction <i class="fa fa-rocket" aria-hidden="true"></i></button>
      </p> 
    </form>
  </div>
</section>
</main>
{% endblock %}
