{% extends "base.html" %}

{% block title %}
    <title>Home page</title>
{% endblock %}

{% block content %}
<body>
  <div class="contenttextindex-wrap">
    <h1 class="textindex_h1">การบำรุงรักษาคูลลิ่งทาวเวอร์ด้วยการเรียนรู้ของเครื่อง</h1>
    <p class="textindex_p">กระบวนการที่ใช้เทคโนโลยีและข้อมูลเพื่อทำนายและป้องกันปัญหาที่อาจเกิดขึ้นในระบบคูลลิ่งทาวเวอร์ (Cooling Tower) โดยให้ความสำคัญกับการใช้เครื่องมือและแบบจำลองอัลกอริทึมที่สามารถประมวลผลข้อมูลในเวลาเรียลไทม์</p>
    <a href="#" class="btn btn-read-more">อ่านเพิ่มเติม</a>
  </div>
  
<section class="temperature">
<div class="container_tem">
  
    <!-- Weather Chip -->
    <div class="chip">
      <!-- Temperature Row -->
      <div class="row">
        <div class="col-5" id="weather-icon"></div>
        <div class="col-7">
          <div class="row"> 
            <div class="col-8">
              <h1 class="display-3" id="temp"></h1>
            </div>
            <!-- Change Temperature Unit -->
            <div class="col-2">
              <button id="btnCelsius" onclick="getCelsius()" disabled>°C</button>
            </div>
            <div class="col-2">
              <button id="btnFahrenheit" onclick="getFahrenheit()">°F</button>
            </div>
            <!-- end Change Temperature Unit -->
          </div>
          <div class="row">
              <h6 id="description"></h6>
          </div>
        </div>
      </div> <!-- end Temperature Row -->
      
      <!-- Date, Time and Place Row -->
      <div class="row">
        <div class="col text-center">
          <h3 id="place"></h3>
          <h3 id="dateTime"></h3>
        </div>
      </div> <!-- end Date, Time and Place Row -->
      
      <!-- Other Weather Details Row -->
      <div id="otherDetails" class="row">
        <div class="col text-center">
          <i class='wi wi-humidity' style='font-size: 3em'></i>
          <h4 id="humidity"></h4>
        </div>
        <div class="col text-center">
          <i class='wi wi-strong-wind' style='font-size: 3em'></i>
          <h4 id="windSpeed"></h4>
        </div>
        <div class="col text-center">
          <i class='wi wi-thermometer' style='font-size: 3em'></i>
          <h4 id="celsius"></h4>
        </div>
      </div> <!-- end Other Weather Details Row -->
    </div> <!-- end Weather Chip -->
   
</div>
</section>
<div class="cardsmall">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/static/assets/img/forindex/card01.jpg" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">การทำนายและการวางแผนระยะยาว</h5>
        <p class="card-text">การทำนายและการวางแผนระยะยาว Machine Learning ช่วยในการทำนายแนวโน้มและการเปลี่ยนแปลงในระยะยาวของคูลลิ่งทาวเวอร์ ซึ่งช่วยในการวางแผนการบำรุงรักษาและการลงทุนได้ดียิ่งขึ้น</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/assets/img/forindex/card02.jpg" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">การวิเคราะห์ข้อมูล</h5>
        <p class="card-text">การวิเคราะห์ข้อมูลที่มาจากคูลลิ่งทาวเวอร์ด้วย Machine Learning ช่วยให้สามารถตรวจจับความผิดปกติและทำการบำรุงรักษาได้ก่อนที่จะเกิดความเสียหายร้ายแรง, ช่วยลดค่าใช้จ่ายและเวลาในการหยุดทำงาน</p>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/assets/img/forindex/card03.jpg" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">การใช้เทคนิคการเรียนรู้ในการพยากรณ์สถานะของคูลลิ่งทาวเวอร์</h5>
        <p class="card-text">สามารถช่วยในการวิเคราะห์ข้อมูลประสิทธิภาพของคูลลิ่งทาวเวอร์และทำการปรับเปลี่ยนการทำงานอย่างอัตโนมัติเพื่อเพิ่มประสิทธิภา
          ลดการใช้พลังงาน และตรวจจับสภาวะที่ผิดปกติได้เร็วขึ้น</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/assets/img/forindex/card04.jpg" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">ความสำคัญอุณหภูมิกับประสิทธิภาพของคูลลิ่งทาวเวอร์</h5>
        <p class="card-text">หน้าที่หลักของคูลลิ่งทาวเวอร์ คือการลดอุณหภูมิของน้ำหรือของเหลวอื่นๆ โดยการถ่ายเทความร้อนจากน้ำไปยังอากาศ อุณหภูมิของน้ำและอากาศมีผลต่ออัตราและประสิทธิภาพของกระบวนการนี้</p>
          <p>ความแตกต่างระหว่างอุณหภูมิของน้ำที่เข้าและน้ำที่ออกจากคูลลิ่งทาวเวอร์ (ที่เรียกว่า Delta T) เป็นตัวบ่งชี้ความสามารถในการถ่ายเทความร้อน. ยิ่ง Delta T สูง ความสามารถในการถ่ายเทความร้อนก็จะดีขึ้น</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/assets/img/forindex/card05.jpg" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">ความสำคัญอุณหภูมิกับประสิทธิภาพของคูลลิ่งทาวเวอร์</h5>
        <p class="card-text">อุณหภูมิที่สูงเกินไปหรือต่ำเกินไปอาจส่งผลต่อประสิทธิภาพในการใช้พลังงานของคูลลิ่งทาวเวอร์ และอาจนำไปสู่การใช้พลังงานมากขึ้นเพื่อบรรลุเป้าหมายการลดอุณหภูมิ</p>
        <p>อุณหภูมิภายนอกหรือสภาพอากาศมีผลต่อการทำงานของคูลลิ่งทาวเวอร์ ต้องมีการปรับแต่งหรือควบคุมคูลลิ่งทาวเวอร์ให้เหมาะสมกับสภาพอากาศที่แตกต่างกัน</p>
    </div>
    </div>
  </div>
</div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card" >
      <img src="/static/assets/img/forindex/photooverview.jpg" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">Machine Leaning</h5>
        <p class="card-text">Machine Learning" หรือ "การเรียนรู้ของเครื่อง" คือสาขาหนึ่งของวิทยาการคอมพิวเตอร์ที่เน้นการพัฒนาโมเดลและวิธีการทำนายโดยอิงจากข้อมูล (data-driven) โดยไม่ต้องระบุโครงสร้างของกฎหรือสูตรคำตอบในล่วงหน้า กล่าวอีกนัยหนึ่งคือการให้คอมพิวเตอร์มีความสามารถในการเรียนรู้และปรับปรุงประสิทธิภาพของงานต่างๆ จากข้อมูลที่ได้รับมา โดยไม่ต้องระบุโครงสร้างของกฎหรือสูตรคำตอบไว้ล่วงหน้า โมเดลที่ได้จาก Machine Learning สามารถนำไปใช้ในหลายๆงานที่ต้องการการเรียนรู้จากข้อมูล</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/assets/img/forindex/photocooling.jpg" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">คูลลิ่งทาวเวอร์ Cooling Tower คืออะไร</h5>
        <p class="card-text">เป็นอุปกรณ์ที่ใช้สำหรับลดอุณหภูมิของน้ำหรือของเหลวอื่นๆ โดยการเอาความร้อนออกจากน้ำและปล่อยมันไปยังบรรยากาศ คูลลิ่งทาวเวอร์มักพบในหลายอุตสาหกรรม น้ำที่ได้รับความร้อนจากกระบวนการอุตสาหกรรมจะถูกนำมาลดอุณหภูมิ น้ำร้อนนี้จะถูกหมุนเวียนผ่านคูลลิ่งทาวเวอร์ ซึ่งทำให้มันสัมผัสกับอากาศ. ความร้อนจากน้ำจะถูกถ่ายเทไปยังอากาศ ทำให้น้ำเย็นลง ส่วนหนึ่งของน้ำอาจระเหยไปกับอากาศ ซึ่งช่วยลดอุณหภูมิของน้ำที่เหลือ กระบวนการระเหยนี้เป็นส่วนสำคัญในการลดอุณหภูมิในคูลลิ่งทาวเวอร์</p>
      </div>
    </div>
  </div>
  <div class="col" id="userManualCard">
    <div class="card">
      <img src="/static/assets/img/forindex/usermanualcoolingtower.jpg" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">วิธีการใช้งานเบื้องต้น สำหรับการทดลอง</h5>
        <p class="card-text">ผู้ใช้งานจะต้องเข้าสู่ระบบ Lignim และ เพิ่มเพื่อน line AO ของ Lignum เพื่อทดลองระบบแจ้งเตือน (QR Code ด้านล่าง)
          จากนั้นไปที่เมนู predictive ระบุเลขของเครื่อง Cooling Tower พร้อมกรอกข้อมูลอุณหภูมิที่แสดงบนหน้าจอของ Cooling Tower โดยผู้ใช้งานจะต้องตรวจสอบข้อมูลก่อนกดปุ่ม Prediction ทุกครั้ง หากมีผลพยากรณ์ไม่ต้องบำรุงรักษาจะมีสถานะเป็น 0 และในกรณีที่ต้องการการบำรุงรักษาจะมีสถานะเป็น 1 ซึ่งหากผู้ใช้งานทำการเพิ่มเพื่อนใน Line OA ของ Lignum แล้ว จะได้รับการแจ้งเตือนหลังผลพยากรณ์ออกมาว่าต้องการการบำรุงรักษาทันที
          ทั้งนี้ระบบการพยากรณ์เป็นเพียงการคาดการณ์เบื้องต้นเท่านั้น ในสถานการณ์จริงโปรดดำเนินการตรวจสอบก่อน</p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/assets/img/forindex/predictivecoolingtower.jpg" class="card-img-top" alt="{{ image.title }}">
      <div class="card-body">
        <h5 class="card-title">พยากรณ์การบำรุงรักษาคูลลิ่งทาวเวอร์ด้วยการเรียนรู้ของเครื่อง</h5>
        <p class="card-text">
          การบำรุงรักษาคูลลิ่งทาวเวอร์ด้วยการเรียนรู้ของเครื่อง คือกระบวนการที่ใช้เทคโนโลยีและข้อมูลเพื่อทำนายและป้องกันปัญหาที่อาจเกิดขึ้นในระบบคูลลิ่งทาวเวอร์ (Cooling Tower)
            โดยให้ความสำคัญกับการใช้เครื่องมือและแบบจำลองอัลกอริทึมที่สามารถประมวลผลข้อมูลในเวลาเรียลไทม์ เพื่อดำเนินการปรับปรุงและป้องกันการเสียหายของระบบ ตลอดจนเพิ่มประสิทธิภาพของการทำงานของคูลลิ่งทาวเวอร์ ในทางทฤษฎีแล้วการบำรุงรักษาคูลลิ่งทาวเวอร์ด้วยการเรียนรู้ของเครื่องมีการผนวกความรู้ทางวิศวกรรม วิทยาการข้อมูล และการประมวลผลข้อมูลเพื่อสร้างระบบที่มีความสามารถในการจัดการปัญหาและทำให้ระบบทำงานได้อย่างมีประสิทธิภาพมากยิ่งขึ้น 

          </p>
        </div>
    </div>
  </div>
</div>
</body>


<script>
    if (navigator.geolocation) {				
 navigator.geolocation.getCurrentPosition(showPosition);
} else {
 alert('Geolocation is not supported in your browser');
}

function showPosition(position) {
  var api = "https://fcc-weather-api.glitch.me/api/current?lat=" + position.coords.latitude + "&lon=" + position.coords.longitude;

  $.getJSON(api, function(data){
    // Getting Weather Details
    $("#place").html(data.name + ", " + data.sys.country);
    $("#windSpeed").html(data.wind.speed + "km/h");
    $("#humidity").html(data.main.humidity + "%");
    $("#celsius").html(data.main.temp.toFixed(1) + "°C");
    $("#temp").html(data.main.temp.toFixed(1));
    $("#description").html(data.weather[0].description);
    
    // Get Current Date and Time
    var dt = new Date();
    $("#dateTime").html(dt.getDate() + "/" + (dt.getMonth()+1)  + "/" + dt.getFullYear() + " "+ dt.getHours() + ":" + dt.getMinutes());
    
    // Weather Icon Conditions
    if(data.weather[0].description.indexOf("clouds")!== -1){
      $("#weather-icon").html("<i class='wi wi-day-cloudy' style='font-size: 7em'></i>");   
    }
    else if(data.weather[0].description.indexOf("clear sky")!== -1){
      $("#weather-icon").html("<i class='wi wi-day-sunny' style='font-size: 7em'></i>");
    }
    else if(data.weather[0].description.indexOf("rain")!== -1){
      $("#weather-icon").html("<i class='wi wi-rain-wind' style='font-size: 7em'></i>");
    }
    else if(data.weather[0].description.indexOf("thunderstorm")!== -1){
      $("#weather-icon").html("<i class='wi wi-thunderstorm' style='font-size: 7em'></i>");
    }
    else if(data.weather[0].description.indexOf("snow")!== -1){
      $("#weather-icon").html("<i class='wi wi-snow' style='font-size: 7em'></i>");
    }
    else if(data.weather[0].description.indexOf("mist")!== -1){
      $("#weather-icon").html("<i class='wi wi-fog' style='font-size: 7em'></i>");
    }
    else if(data.weather[0].description.indexOf("mist")!== -1){
      $("#weather-icon").html("<i class='wi wi-fog' style='font-size: 7em'></i>");
    }
  });
}

// Temperature Conversion
function getFahrenheit() {
  $("#btnCelsius").css("color", "#2d314a");
  $("#btnFahrenheit").css("color", "#fff");
  $("#btnCelsius").prop("disabled", false);
  $("#btnFahrenheit").prop("disabled", true);
  
  $("#temp").html(((parseInt($("#temp").text()) * 1.8) + 32).toFixed(1));
}
                                           
function getCelsius() {
  $("#btnCelsius").css("color", "#fff");
  $("#btnFahrenheit").css("color", "#2d314a");
  $("#btnCelsius").prop("disabled", true);
  $("#btnFahrenheit").prop("disabled", false);
  
  $("#temp").html(Math.round((parseInt($("#temp").text()) - 32)/ 1.8).toFixed(1));
}
</script>

{% comment %} <script>
  const images = document.querySelectorAll(".carousel-container img");
  let currentIndex = 0;
  let timer;

  function showImage(index) {
  images.forEach((img, i) => {
      if (i === index) {
      img.classList.add("active");
      } else {
      img.classList.remove("active");
      }
  });
  }

  function nextImage() {
  currentIndex = (currentIndex + 1) % images.length;
  showImage(currentIndex);
  }

  function prevImage() {
  currentIndex = (currentIndex - 1 + images.length) % images.length;
  showImage(currentIndex);
  }

  function startTimer() {
  timer = setInterval(nextImage, 10000); // Change image every 10 seconds
  }

  function stopTimer() {
  clearInterval(timer);
  }

  const carouselContainer = document.querySelector(".carousel-container");

  carouselContainer.addEventListener("mouseenter", stopTimer);
  carouselContainer.addEventListener("mouseleave", startTimer);

  showImage(currentIndex); // Show the first image initially
  startTimer(); // Start the automatic image change on page load

</script> {% endcomment %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const readMoreBtn = document.querySelector('.btn-read-more');

    readMoreBtn.addEventListener('click', function () {
      const card = document.querySelector('.card');
      card.scrollIntoView({ behavior: 'smooth', block: 'start' });
    });
  });
</script>
{% endblock %}