{% extends 'base.html' %}

{% block content %}
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    {% comment %} body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    } {% endcomment %}
    
    .wrappercard {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 24px;
      flex-wrap: wrap;
    }
    
    .cardinformation {
      position: relative;
      width: 325px;
      height: 450px;
      background: #000;
      border-radius: 18px;
      overflow: hidden;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .poster {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    
    .poster::before {
      content: '';
      position: absolute;
      bottom: -45%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.3s;
    }
    
    .cardinformation:hover .poster::before {
      bottom: 0;
    }
    
    .poster img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }
    
    .cardinformation:hover .poster img {
      transform: scale(1.1);
    }
    
    .details {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: auto;
      padding: 1.5em 1.5em 2em;
      background: #000a;
      backdrop-filter: blur(16px) saturate(120%);
      transition: 0.3s;
      color: #fff;
      z-index: 2;
    }
    
    .cardinformation:hover .details {
      bottom: 0;
    }
    
    .details h1,
    .details h2 {
      font-weight: 700;
    }
    
    .details h1 {
      font-size: 1.5em;
      margin-bottom: 5px;
    }
    
    .details h2 {
      font-weight: 400;
      font-size: 1em;
      margin-bottom: 10px;
      opacity: 0.6;
    }
    
    .details .rating {
      position: relative;
      margin-bottom: 15px;
      display: flex;
      gap: 0.25em;
    }
    
    .details .rating i {
      color: #e3c414;
    }
    
    .details .rating span {
      margin-left: 0.25em;
    }
    
    .details .tags {
      display: flex;
      gap: 0.375em;
      margin-bottom: 0.875em;
      font-size: 0.85em;
    }
    
    .details .tags span {
      padding: 0.35rem 0.65rem;
      color: #fff;
      border: 1.5px solid rgba(255 255 255 / 0.4);
      border-radius: 4px;
      border-radius: 50px;
    }
    
    .details .desc {
      color: #fff;
      opacity: 0.8;
      line-height: 1.5;
      margin-bottom: 1em;
    }
    
    .details .cast h3 {
      margin-bottom: 0.5em;
    }
    
    .details .cast ul {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 0.625rem;
      width: 100%;
    }
    
    .details .cast ul li {
      list-style: none;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      overflow: hidden;
      border: 1.5px solid #fff;
    }
    
    .details .cast ul li img {
      width: 100%;
      height: 100%;
    }
  </style>
  <body>
    <div class="wrappercard">
      <div class="cardinformation">
        <div class="poster">
          <img src="/static/assets/img/technician/no_pnoi.jpg" alt="Location Unknown" />
        </div>
        <div class="details">
            <h1>Sitthichai boonleng</h1>
            <h2>• Noi •</h2>
            <div class="rating">
              <span>Technician Supervisor</span>
          </div>
          <div class="tags">
            <span class="tag yellow"><i class="fa fa-envelope" aria-hidden="true"></i> Email</span>
            <span class="tag"><i class="fa fa-phone" aria-hidden="true"></i> Phone</span>
            <span class="tag blue"><i class="fa fa-comment" aria-hidden="true"></i> Message</span>
          </div>
          <p class="desc">การทำงานซ่อมบำรุงไม่ใช่แค่การทำให้เครื่องจักรเดิมให้ดีเท่าเดิม แต่ยังเป็นการให้ชีวิตใหม่ให้กับสิ่งที่ถูกลืม</p>
          <div class="cast">
            <h3>Photo</h3>
            <ul>
              <li>
                <img src="/static/assets/img/technician/workpnoi_1.jpg" alt="work noi 1" title="work noi 1" />
              </li>
              <li>
                <img src="/static/assets/img/technician/workpnoi_2.jpg" alt="work noi 2" title="work noi 2" />
              </li>
              <li>
                <img src="/static/assets/img/technician/workpnoi_3.jpg" alt="work noi 3" title="work noi 3" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cardinformation">
        <div class="poster">
          <img src="/static/assets/img/technician/no_pjoke.jpg" alt="Location Unknown" />
        </div>
        <div class="details">
            <h1>Nopporn</h1>
            <h2>• Joke •</h2>
            <div class="rating">
              <span>Technician</span>
          </div>
          <div class="tags">
            <span class="tag yellow"><i class="fa fa-envelope" aria-hidden="true"></i> Email</span>
            <span class="tag"><i class="fa fa-phone" aria-hidden="true"></i> Phone</span>
            <span class="tag blue"><i class="fa fa-comment" aria-hidden="true"></i> Message</span>
          </div>
          <p class="desc">ช่างเทคนิคมีความสามารถที่จะทำให้เครื่องจักรมันกลับมาดีเหมือนเดิม! ความลับคือ... ถ้าไม่แน่ใจว่าเป็นอะไรที่เสียหาย ให้ตบตีดู</p>
          <div class="cast">
            <h3>Photo</h3>
            <ul>
                <li>
                    <img src="/static/assets/img/technician/workpjoke_1.jpg" alt="work joke 1" title="work joke 1" />
                  </li>
                  <li>
                    <img src="/static/assets/img/technician/workpjoke_2.jpg" alt="work joke 2" title="work joke 2" />
                  </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cardinformation">
        <div class="poster">
          <img src="/static/assets/img/technician/no_ppok.jpg" alt="Location Unknown" />
        </div>
        <div class="details">
            <h1>Patiphon Aocharot</h1>
            <h2>• Pok •</h2>
            <div class="rating">
              <span>Technician</span>
          </div>
          <div class="tags">
            <span class="tag yellow"><i class="fa fa-envelope" aria-hidden="true"></i> Email</span>
            <span class="tag"><i class="fa fa-phone" aria-hidden="true"></i> Phone</span>
            <span class="tag blue"><i class="fa fa-comment" aria-hidden="true"></i> Message</span>
          </div>
          <p class="desc">ช่างเทคนิคคือนักแสดงที่ไม่ได้แสดงเพียงแค่การซ่อมบำรุงเครื่องจักร แต่ยังต้องมีทักษะในการแสดงความตลกในระหว่างการทำงาน</p>
          <div class="cast">
            <h3>Photo</h3>
            <ul>
                <li>
                    <img src="/static/assets/img/technician/workppok_1.jpg" alt="work pok 1" title="work pok 1" />
                  </li>
                  <li>
                    <img src="/static/assets/img/technician/workppok_2.jpg" alt="work pok 2" title="work pok 2" />
                  </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cardinformation">
        <div class="poster">
          <img src="/static/assets/img/technician/no_pnut.jpg" alt="Location Unknown" />
        </div>
        <div class="details">
            <h1>Natdanai Sangkhathamrong</h1>
            <h2>• Nut •</h2>
            <div class="rating">
              <span>Technician</span>
          </div>
          <div class="tags">
            <span class="tag yellow"><i class="fa fa-envelope" aria-hidden="true"></i> Email</span>
            <span class="tag"><i class="fa fa-phone" aria-hidden="true"></i> Phone</span>
            <span class="tag blue"><i class="fa fa-comment" aria-hidden="true"></i> Message</span>
          </div>
          <p class="desc">ช่างเทคนิคคือผู้ที่เคยถูกเรียกว่า 'นักดูดาวน์' ยิ่งเครื่องจักรเสียมาก เขาก็ดูดาวน์มากขึ้น</p>
          <div class="cast">
            <h3>Photo</h3>
            <ul>
              <li>
                <img src="/static/assets/img/technician/workpnut_1.jpg" alt="work nut 1" title="work nut 1" />
              </li>
              <li>
                <img src="/static/assets/img/technician/workpnut_2.jpg" alt="work nut 2" title="work nut 2" />
              </li>
              <li>
                <img src="/static/assets/img/technician/workpnut_3.jpg" alt="work nut 3" title="work nut 3" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cardinformation">
        <div class="poster">
          <img src="/static/assets/img/technician/no_toon.jpg" alt="Location Unknown" />
        </div>
        <div class="details">
            <h1>Phiraphad Tairadphaphum</h1>
            <h2>• Toon •</h2>
            <div class="rating">
              <span>Technician Assistant</span>
          </div>
          <div class="tags">
            <span class="tag yellow"><i class="fa fa-envelope" aria-hidden="true"></i> Email</span>
            <span class="tag"><i class="fa fa-phone" aria-hidden="true"></i> Phone</span>
            <span class="tag blue"><i class="fa fa-comment" aria-hidden="true"></i> Message</span>
          </div>
          <p class="desc">ผู้ช่วยช่างเทคนิคคือคนที่มีความรักใหญ่พอที่จะทนทุกครั้งที่ช่างบอกว่า 'ช่วยด้วย'</p>
          <div class="cast">
            <h3>Photo</h3>
            <ul>
                <li>
                    <img src="/static/assets/img/technician/worktoon_1.jpg" alt="work toon 1" title="work toon 1" />
                  </li>
                  <li>
                    <img src="/static/assets/img/technician/worktoon_2.jpg" alt="work toon 2" title="work toon 2" />
                  </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cardinformation">
        <div class="poster">
          <img src="/static/assets/img/technician/no_tonhom.jpg" alt="Location Unknown" />
        </div>
        <div class="details">
          <h1>Pattarawan Chakrapandhu</h1>
          <h2>• Tonhom •</h2>
          <div class="rating">
            <span>Admin</span>
          </div>
          <div class="tags">
            <span class="tag yellow"><i class="fa fa-envelope" aria-hidden="true"></i> Email</span>
            <span class="tag"><i class="fa fa-phone" aria-hidden="true"></i> Phone</span>
            <span class="tag blue"><i class="fa fa-comment" aria-hidden="true"></i> Message</span>
          </div>
          <p class="desc">ความสัมพันธ์มีความซับซ้อนเหมือนกับโมเดลการพยากรณ์ ไม่สามารถทำนายได้ด้วยข้อมูลที่ไม่เพียงพอ</p>
          <div class="cast">
            <h3>Photo</h3>
            <ul>
              <li>
                <img src="/static/assets/img/technician/workhom_1.jpg" alt="work tonhom 1" title="work tonhom 1" />
              </li>
              <li>
                <img src="/static/assets/img/technician/workhom_2.jpg" alt="work tonhom 2" title="work tonhom 2" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
