{% extends "base.html" %}

{% block title %}
    <title>Reset password</title>
{% endblock %}

{% block content %}
{% if validlink %}
<main>
    <section class="content-section content-section-single">
        <div class="content-container">
          <form class="password_form" method="post">
                    <svg preserveAspectRatio="none" viewBox="0 0 100 25">
                        <defs>
                          <pattern id="pattern" x="0" y="0" width="0.2" height="1">
                            <rect x="0" y="0" width="10" height="15" fill="#fff" />
                            <circle cx="5" cy="15" r="5" fill="#fff" />
                            <rect x="10" y="0" width="10" height="15" fill="currentColor" />
                            <circle cx="15" cy="15" r="5" fill="currentColor" />
                          </pattern>
                        </defs>
                        <g id="roof">
                          <rect x="0" y="0" width="100" height="5" fill="url(#pattern)" />
                          <rect x="0" y="0" width="100" height="5" fill="#00000022" />
                        </g>
                        <rect x="0" y="5" width="100" height="20" fill="url(#pattern)" />
                      </svg>
                      <h1 class="title_password"><strong>Reset password</h1>
                        <div class="wrapper">
                          <div class="base">
                              <div class="base-bottom">
                              </div>
                              <div class="lock-inside-top">
                              </div>
                              <div class="lock-inside-bottom">
                              </div>
                          </div>
                          <div class="lock-cirlce">
                              <div class="lock-circle-inside">
                              </div>
                          </div>
                          <div class="lock-box">
                          </div>
                      </div>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p}}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
        </div>
        </section>
    </main>
    {% else %}
    <div class="dog_container">
      <div class="dog">
                <div class="dog-head">
                <div class="dog-ears ears-left"></div>
                <div class="dog-ears ears-right"></div>
               <div class="dog-eyes"></div>
              <div class="dog-mouth">
              <div class="dog-nose"></div>
             <div class="dog-tongue"></div>
             </div>
            </div>
            <div class="dog-tail"></div>
            <div class="dog-body">
            <div class="dog-foot"></div>
          </div>
        <div class="ball"></div>
      </div>
</div>
<div class="password_changed">
    <h2 class="text_pass1" style="color: rgb(125, 2, 2);">Unable to reset password</h2>
    <p class="text_pass2" style="color: rgb(125, 2, 2);" >Invalid or expired reset link. Please try again</p>
    <a class="btn btn-primary link_forpass" style="border-radius: 30px; color: rgb(255, 255, 255); --bs-btn-bg: #a3bed8; --bs-btn-border-color: rgb(148, 204, 227);--bs-btn-hover-bg: rgb(56, 95, 140);--bs-btn-hover-border-color: rgb(255, 255, 255);--bs-btn-active-bg: #417c6d;--bs-btn-active-border-color: #77a581;--bs-btn-disabled-bg: rgb(255, 255, 255);--bs-btn-disabled-border-color: rgb(37, 37, 37);" href="{% url 'coolingapp:index' %}">
      <i class="fa fa-home" aria-hidden="true"></i> Go to home</a>
</div>
{% endif %}
{% endblock %}