{% extends "base.html" %}

{% block title %}
    <title>Change password</title>
{% endblock %}

{% block content %}
<main>
    <section class="content-section content-section-single">
        <div class="content-container">
          <form class="password_form" action="{% url 'coolingapp:password_change' %}" method="post">
                    <svg preserveAspectRatio="none" viewBox="0 0 100 25">
                        <defs>
                          <pattern id="pattern" x="0" y="0" width="0.2" height="1">
                            <rect x="0" y="0" width="10" height="15" fill="#fff" />
                            <circle cx="5" cy="15" r="5" fill="#fff" />
                            <rect x="10" y="0" width="10" height="15" fill="currentColor" />
                            <circle cx="15" cy="15" r="5" fill="currentColor" />
                          </pattern>
                        </defs>
                        <g id="roof">
                          <rect x="0" y="0" width="100" height="5" fill="url(#pattern)" />
                          <rect x="0" y="0" width="100" height="5" fill="#00000022" />
                        </g>
                        <rect x="0" y="5" width="100" height="20" fill="url(#pattern)" />
                      </svg>
                      <h1 class="title_password"><strong>Change password</h1>
                        <div class="wrapper">
                          <div class="base">
                              <div class="base-bottom">
                              </div>
                              <div class="lock-inside-top">
                              </div>
                              <div class="lock-inside-bottom">
                              </div>
                          </div>
                          <div class="lock-cirlce">
                              <div class="lock-circle-inside">
                              </div>
                          </div>
                          <div class="lock-box">
                          </div>
                      </div>
                      <h1 class="userprofile2"><i class="fa fa-moon-o" aria-hidden="true"></i> {{ user.username }} </h1>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                          <label for="id_old_password"><i class="fa fa-unlock" aria-hidden="true"></i> Old Password:</label>
                          {{ form.old_password }}
                          {{ form.old_password.errors }}
                      </div>
                      <div class="form-group">
                          <label for="id_new_password1"><i class="fa fa-unlock-alt" aria-hidden="true"></i> New Password:</label>
                          {{ form.new_password1 }}
                          {{ form.new_password1.errors }}
                      </div>
                      <div class="form-group">
                          <label for="id_new_password2"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Confirm New Password:</label>
                          {{ form.new_password2 }}
                          {{ form.new_password2.errors }}
                      </div>
                    <button type="submit" class="buttonsubmit">save</button>
                </form>
        </div>
        </section>
    </main>
{% endblock %}