@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
font-family: 'Itim', cursive;
margin: 0;
padding: 0;
width: 100%;
}

/* ------Navbar------- */

.navbar.bg-body-tertiary.fixed-top {
    background-color: #ffffff !important;
  }
.navbar-brand {
  margin-left: 50px;
}
.offcanvas.offcanvas-start {
  background-color: #ffffff41 !important; 
  backdrop-filter: blur(5px);
  border-radius: 0 100px 50px 0   ;
}

.btn-close.custom-close-button {
  margin-right: 30px;
}

.navbar-toggler-icon {
  color: #76c1ff; 
}

.navbar-toggler {
    background-color: transparent !important;
    border: none !important;
    padding: 0.25rem 0.5rem !important;
    cursor: pointer !important;
  }
  
.nav-link.active{
  color: #ffffff !important;
  font-size: 20px !important;
}

.nav-link.active:hover{
  color: #6fc3ff !important;
}

.navbar-toggler-icon {
    color: #ffffff !important;
    font-size: 16px !important;
}

.nav-item {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    position: relative;
}
  
.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.2s;
}

.offcanvas-title{
    color: #ffffff;
    margin-left: 70px;
    margin-top: 30px;
}

.nav-item:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #bedeff;
}

.nav-link:hover {
    color: #6fc3ff;
}
  
.nav-link.active {
    color: #ffc107;
}

/* login,register,username */
.nav-login {
  text-decoration: none;
  transition: color 0.2s;
  font-size: 16px;
  margin-right: 15px;
}

.username {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.2s;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.username:hover {
  color: #4cd0da;
}

.nav-register {
  text-decoration: none;
  transition: color 0.2s, font-size 0.2s;
  font-size: 16px;
  margin-right: 30px;
}


.nav-register:hover {
  font-size: 18px;
}
/* login,logout,register */


/* Style for the toggler button */
.navbar-toggler {
  background-color: #ffffff; 
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

/* Style for the offcanvas header */
.offcanvas-header {
  border-bottom: none;
  border-radius: 50px;
}

/* Style for the offcanvas body */
.offcanvas-body {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}


  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.dropdown-item {
    color: #86bef3;
}

.dropdown-item:hover {
    background-color: #3973ac;
    color: #ffffff;
}


/* ------END Navbar------- */

*
{
  margin: 0;
  padding: 0;
}

.circle_sun {
  height: 200px;
  width: 350px;
}

#circle_container
{
  height: 180px;
  width: 180px;
  position: absolute;
  /*Centering*/
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  border-radius: 50%;
  background-color: #DDD;
  overflow: hidden;
  animation: background 4s -3.5s infinite;
  /*Nice modern drop-shadow*/
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

#load_wrapper
{
  height: 300%;
  width: 300%;
  margin-left: -50px;
  transform: translate3d(-25%, 0, 0);
  position: relative;
  animation: rotation 4s linear infinite;
}

#sun, #moon
{
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#sun
{
  width: 80px;
  height: 80px;
  background-color: #FFD475;
  top: 40px;
  box-shadow: 0 0 15px #FFCB57;
}

#moon
{
  width: 50px;
  height: 50px;
  background-color: #EEE;
  top: 450px;
  box-shadow: 0 0 25px rgba(0,0,0,0.2) inset, 0 0 10px white;
}

#stars
{
  perspective: 15px;
	
  width: 100%;
  animation: stars 4s linear infinite;
  opacity: 0.8;
}

.star
{
  width: 4px;
  height: 4px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
}

.star_layer
{
  position: absolute;
  width: 200px;
  height: 200px;
  transform-origin: 100px 0;
}

@keyframes rotation
{
  0% {
    transform: translate3d(-25%, 0, 0) rotate(0deg);
  }
  20% {
    /*Sun goes down*/
    transform: translate3d(-25%, 0, 0) rotate(50deg);
  }
  30% {
    /*Moon rises*/
    transform: translate3d(-25%, 0, 0) rotate(130deg);
  }
  70% {
    /*Moon goes down*/
    transform: translate3d(-25%, 0, 0) rotate(240deg);
  }
  80% {
    /*Sun rises*/
    transform: translate3d(-25%, 0, 0) rotate(310deg);
  }
  100% {
    transform: translate3d(-25%, 0, 0) rotate(360deg);
  }
}

@keyframes background
{
  0% {
    background-color: #2896C3;
  }
  50% {
    /*Night*/
    background-color: #1E5267;
  }
  100% {
    background-color: #2896C3;
  }
}

@keyframes stars
{
  0% {
    /*Invisible, not moving*/
    opacity: 0;
    padding-right: 0;
  }
  25% {
    /*Start of movement*/
    opacity: 0;
    padding-right: 0;
  }
  50% {
    /*Visible*/
    opacity: 1;
    padding-right: 25px;
  }
  75% {
    opacity: 0;
    padding-right: 50px;
  }
  100% {
    opacity: 0;
    padding-right: 0;
  }
}

/* ------container------- */
.container{
  padding-top: 150px;
}
/* ------container_sun&moon------- */

  html,
body {
  background-color: #85b9dd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  position: relative;
}

.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}


/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
/* ------END container_sun&moon------- */

/* ---------Footer-------- */
* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}


.footer {
    background-color: #6ca0dd;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #85b9dd;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 20px 15px 300px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-logo-link img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #2850f0;
    border-radius: 21px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 10px 30px;
    margin: 0 0 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #5bacf7;
}

.footer-social-link.linkedin {
    height: 45px;
    left: 3px;
    top: 11px;
    width: 45px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 50px;
    left: 62px;
    top: 3px;
    width: 50px;
}

.footer-social-link.youtube {
    height: 45px;
    left: 123px;
    top: 12px;
    width: 45px;
}

.footer-social-link.github {
    height: 55px;
    left: 172px;
    top: 7px;
    width: 55px;
}

.footer-copyright {
    background-color: #5bacf7;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}

@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 20px 15px 330px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

/* ---------END Footer-------- */

/* ---------Loginpage-------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  align-items: start;
}

/* heading with a bold weight only for the strong element */
.title_signin {
  font-weight: 300;
  color: #2494c3;
  font-size: 25px;
  margin: 5px;
}

.title_signin strong {
  text-transform: capitalize;
}

/* position the elements of the form in a single column, one atop the other */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 75vw;
  padding: 1rem 1.5rem;
  border-radius: 7.5px;
  background: #ffffff54;
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.2);
}

form > * {
  margin: 1.8rem 0;
}

form svg {
  color: #63abd3;
  transform: translateY(-4rem);
  margin-bottom: -3rem;
  width: 140%;
  height: 100px;
  filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.15));
  transition: color 0.2s ease-out;
}

label[for="id_username"] {
  color: #3989b7;
  font-size: 16px;
  margin-top: -50px;
}

label[for="id_password"] {
  color: #3989b7;
  font-size: 16px;
}
label[for="id_username"]:hover{
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

label[for="id_password"]:hover{
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

.form-field {
  margin-top: 15px;
  position: relative;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 2px;
  border: 3px solid #93cdff;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007BFF;
  border: 5px solid #85d2ff;
  box-shadow: 0 0 5px #7ac7d2;
}

button[type="submit"] {
  background-color: #63abd3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  text-transform: uppercase;
  width: 100%;
}

.forgotpass {
  color: #66707b;
  margin-top: -20px;
  margin-bottom: -2px;
  margin-left: 150px;
}

.forgotpass:hover {
  color: #006ec2;
}

.left-portion__hero {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.hr-animation {
  display: block;
  width: 350px;
  height: 235px;
  position: relative;
  background: url('https://f.flockusercontent2.com/8c871411481883540ea98654') no-repeat 0 0;
}

.hr-animation,
.hranimation>div {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  animation: blurIntro 2s;
}

.chat-bubble {
  width: 28px;
  height: 27px;
  position: absolute;
  top: 17px;
  left: 159px;
  background: url('https://f.flockusercontent2.com/8c871411481823027081c4c8') no-repeat 0 0;
  animation: pulse 4s infinite 0s ease-out;
}

.statistic {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 51px;
  left: 236px;
  background: url('https://f.flockusercontent2.com/8c871411481823122afa7340') no-repeat 0 0;
  animation: pulse 4s infinite 2s ease-out;
}

.reports {
  width: 38px;
  height: 35px;
  position: absolute;
  top: 117px;
  left: 252px;
  background: url('https://f.flockusercontent2.com/8c8714114818229303698213') no-repeat 0 0;
  animation: pulse2 4s infinite 1s ease-out;
}

.page {
  width: 21px;
  height: 27px;
  position: absolute;
  top: 133px;
  left: 64px;
  background: url('https://f.flockusercontent2.com/8c8714114818232483df74aa') no-repeat 0 0;
  animation: pulse 4s infinite 2s ease-out;
}

.magnifying-glass {
  width: 30px;
  height: 31px;
  position: absolute;
  top: 138px;
  left: 68px;
  background: url('https://f.flockusercontent2.com/8c871411481882145f5dfd11') no-repeat 0 0;
  animation: pulse-mag 4s infinite 0s ease-out;
}

.pie-chart {
  width: 26px;
  height: 28px;
  position: absolute;
  top: 53px;
  left: 90px;
  background: url('https://f.flockusercontent2.com/8c87141148182324869dfa92') no-repeat 0 0;
  animation: pulse 4s infinite 0s ease-out;
}

.eyes {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: #ffc8ae;
  position: absolute;
  top: 116px;
  left: 164.5px;
  animation: blink 7s ease-out infinite;
}

.eye-right {
  left: 186px;
}

.smoke {
  width: 22px;
  height: 29px;
  background: url('https://f.flockusercontent2.com/8c8714114818867949492363') no-repeat 0 0;
  position: absolute;
  top: 162px;
  left: 227px;
  opacity: 0;
}

.smoke1 {
  animation: smoke 5s linear infinite;
}

.smoke2 {
  animation: smoke2 10s infinite linear;
}

.smoke3 {
  animation: smoke3 6s infinite linear;
}


/* animations */

@keyframes blink {
  0% {
    top: 120px;
    height: 0px;
  }
  4% {
    top: 120px;
    height: 7px;
  }
  8% {
    top: 120px;
    height: 0px;
  }
  20% {
    top: 120px;
    height: 0px;
  }
  24% {
    top: 120px;
    height: 7px;
  }
  27% {
    top: 120px;
    height: 0px;
  }
  31% {
    top: 120px;
    height: 7px;
  }
  35% {
    top: 120px;
    height: 0px;
  }
  100% {
    top: 120px;
    height: 0px;
  }
}

@keyframes smoke {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-13px);
    opacit: 0;
  }
}

@keyframes smoke2 {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-7px);
    opacity: 1;
  }
  40% {
    transform: translateY(-13px);
  }
  100% {
    transform: translateY(-13px);
    opacity: 0;
  }
}

@keyframes smoke3 {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-3px);
    opacity: 1;
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-15px);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    transform: translateY(6px);
  }
}

@keyframes pulse2 {
  50% {
    transform: translate3d(6px, 3px, 0);
  }
}

@keyframes pulse-mag {
  50% {
    transform: translate3d(-3px, 3px, 0);
  }
}

@keyframes blurIntro {
  0% {
    filter: blur(500px);
  }
  100% {
    filter: blur(0px);
  }
}

/* ---------END Loginpage-------- */

/* ---------Registerpage-------- */

.error-message {
  color: rgb(213, 66, 66);
  font-size: 16px;
  font-weight: normal;
}
.error-message :hover {
  color: rgb(255, 255, 255);
}

label[for="id_username2"] {
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
}

label[for="id_email"] {
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
}

label[for="id_password1"] {
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
}

label[for="id_password2"] {
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
}

label[for="id_username2"]:hover{
  color: #ffffff;
}

label[for="id_email"]:hover{
  color: #ffffff;
}
label[for="id_password1"]:hover{
  color: #ffffff;
}
label[for="id_password2"]:hover{
  color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password1"],
input[type="password2"] {
  width: 100%;
  padding: 10px;
  margin: 2px;
  border: 3px solid #93cdff;
  border-radius: 5px;
}

input[type="text"]:hover{
  border: 3px solid #f78e6b;
}

input[type="email"]:hover{
  border: 3px solid #f78e6b;
}

input[type="password"]:hover{
  border: 3px solid #f78e6b;
}


input[type="text"]:focus,
input[type="email"]:focus{
  border-color: #007BFF;
  border: 5px solid #85d2ff;
  box-shadow: 0 0 5px #7ac7d2;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #60858a;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder{
    font-size: 14px;
    color: #9ec7de;
}

/* ---------END Registerpage-------- */

/* ---------Profilepage-------- */

label[for="id_first_name"],
label[for="id_last_name"],
label[for="id_form.phone"],
label[for="id_form.agency"],
label[for="id_form.employee_id"],
label[for="id_form.job_positions"] {
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
}

label[for="id_first_name"]:hover{
  color: #ffffff;
}
label[for="id_last_name"]:hover{
  color: #ffffff;
}
label[for="id_form.phone"]:hover{
  color: #ffffff;
}
label[for="id_form.agency"]:hover{
  color: #ffffff;
}
label[for="id_form.job_positions"]:hover{
  color: #ffffff;
}
label[for="id_form.employee_id"]:hover{
  color: #ffffff;
}


label[for="profile-picture-input"] {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}

label[for="profile-picture-input"]:hover{
  color: #3b76bf;
}
.input_phone{
  width: 345px;
}

.input_job_positions{
  width: 345px;
}

.input_last_name{
  width: 345px;
}

.input_first_name{
  width: 345px;
}

.input_employee_id{
  width: 345px;
}

.input_agency{
  width: 345px;
}

.profileform {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  width: 75vw;
  padding: 1rem 1.5rem;
  border-radius: 7.5px;
  background: #ffffff54;
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.userprofile{
  color: #577e9d;
  font-size: 35px; 
}

.userprofile:hover{
  color: #0061b1; 
}

.formup_pic{
  margin-top: 20px;
}

.userpicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pic_warning {
  color: #0061b1;
  margin-top: 10px;
}


.circular-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Style the image inside the circular container */
.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* canvasfortree */

canvas {
	display: block;
	margin: auto;
	object-fit: contain;
	max-width: 100vw;
	max-height: 100vh;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	body {
		background: #E5F4FF;
	}
}


/* ---------END Profilepage-------- */

/* ---------Password_change page-------- */
label[for="id_old_password"] {
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
}

label[for="id_old_password"]:hover{
  color: #ffffff;
}

label[for="id_old_password"] {
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
}

label[for="id_new_password1"]:hover{
  color: #ffffff;
}

label[for="id_new_password1"] {
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
}

label[for="id_new_password2"]:hover{
  color: #ffffff;
}

label[for="id_new_password2"] {
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
}

@keyframes unlock-circle {
  0% {
      bottom: 200px;
  }
  25% {
      bottom: 200px;
  }
  50% {
      bottom: 150px;
  }
  75% {
      bottom: 150px;
  }
  100% {
      bottom: 200px;
  }
}

@keyframes unlock-box {
  0% {
      bottom: 280px;
  }
  25% {
      bottom: 280px;
  }
  50% {
      bottom: 230px;
  }
  75% {
      bottom: 230px;
  }
  100% {
      bottom: 280px;
  }
}
.wrapper {
  height: 300px;
  width: 300px;
  margin: 50px;
  margin-top: 2px;
  margin-bottom: -10px;
}

.base {
  background-color: #6cc2ff;
  width: 200px;
  height: 170px;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  z-index: 100;
}

.base-bottom {
  background-color: #bdc3c7;
  width: 200px;
  height: 85px;
  border-radius: 0 0 30px 30px;
  top: 85px;
  position: relative;
  opacity: 0.4;
}

.lock-cirlce {
  height: 180px;
  width: 110px;
  border-radius: 45px;
  z-index: 10;
  background-color: #53baff;
  position: relative;
  margin: 0 auto;
  bottom: 150px;
  animation-name: unlock-circle;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.lock-circle-inside {
  height: 180px;
  width: 50px;
  border-radius: 30px;
  z-index: 20;
  background-color: #ebf7ffaa;
  position: relative;
  margin: 0 auto;
  top: 25px;
}

.lock-box {
  animation-name: unlock-box;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  position: relative;
  height: 50px;
  width: 50px;
  bottom: 230px;
  left: 170px;
  z-index: 80;
}

.lock-inside-top {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(4, 40, 83);
  z-index: 300;
  position: relative;
  bottom: 45px;
  left: 75px;
}

.lock-inside-bottom {
  width: 30px;
  height: 80px;
  background-color: rgb(4, 40, 83);
  z-index: 300;
  position: relative;
  bottom: 85px;
  left: 85px;
}

.password_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 75vw;
  padding: 1rem 1.5rem;
  border-radius: 7.5px;
  background: #ffffff54;
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.title_password {
  font-weight: 300;
  color: #2494c3;
  font-size: 30px;
  margin: 5px;
}

.userprofile2{
  color: #577e9d;
  font-size: 28px; 
}

.userprofile2:hover{
  color: #0061b1; 
}
/* ---------END Password_change page-------- */
/* ---------Password_change_done page-------- */
.password_changed{
  margin-bottom: 200px;
  text-align: center;
  margin-top: 60px;
  }
  .text_pass1 {
  color: #0f5088;
  font-size: 40px;
  margin-bottom: 30px;
  }
  .text_pass2 {
  color: #2f74b1;
  font-size: 20px;
  }
  .link_forpass{
  font-size: 22px;
  }


  .dog_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .dog {
    width: 160px;
    height: 186px;
    position: relative;
  }
  @keyframes head {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-20deg);
    }
    80% {
      transform: rotate(-20deg);
    }
    90% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .dog-head {
    width: 100px;
    height: 90px;
    position: absolute;
    z-index: 5;
    top: 30px;
    left: calc(50% - 50px);
    background-color: #efc092;
    border-radius: 50%;
    animation: head 6s linear infinite;
  }
  .dog-head:before,
  .dog-head:after {
    content: "";
    width: 79px;
    height: 50px;
    position: absolute;
    z-index: 5;
    top: 44px;
    background-color: #efc092;
    border-radius: 50%;
  }
  .dog-head:before {
    left: -7px;
    transform: rotate(50deg);
  }
  .dog-head:after {
    right: -7px;
    transform: rotate(-49deg);
  }
  .dog-mouth {
    width: 60px;
    height: 35px;
    background-color: #fee2d2;
    position: absolute;
    bottom: -15px;
    left: 20px;
    z-index: 10;
    border-radius: 50%;
  }
  .dog-mouth:after {
    content: "";
    width: 10px;
    height: 40px;
    background-color: #fee2d2;
    position: absolute;
    bottom: 30px;
    left: 24px;
    z-index: 10;
    border-radius: 20px;
  }
  .dog-nose {
    width: 16px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: calc(50% - 8px);
    background-color: #000;
    border-radius: 50%;
  }
  @keyframes tongue {
    0% {
      height: 10px;
    }
    30% {
      height: 10px;
    }
    40% {
      height: 20px;
    }
    60% {
      height: 10px;
    }
    80% {
      height: 20px;
    }
    90% {
      height: 10px;
    }
    100% {
      height: 10px;
    }
  }
  .dog-tongue {
    width: 20px;
    height: 10px;
    position: absolute;
    top: 24px;
    left: calc(50% - 10px);
    background-color: #f4a4ad;
    border-radius: 0 0 10px 10px;
    animation: tongue 4s linear infinite;
  }
  .dog-eyes {
    width: 10px;
    height: 16px;
    background-color: #000;
    position: absolute;
    top: 52px;
    left: 28px;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 33px 0px 0px #000;
  }
  .dog-eyes:after {
    content: "";
    width: 92px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: -24px;
    background-color: #efc092;
    border-radius: 50%;
  }
  .dog-ears {
    width: 80px;
    height: 50px;
    position: absolute;
    z-index: 0;
    top: -2px;
    border-radius: 150px 0 150px 0;
    background-color: #efc092;
  }
  .dog-ears:after {
    content: "";
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: 0;
    top: 8px;
    left: 20px;
    border-radius: 150px 0 150px 0;
    transform: rotate(-176deg);
    background-color: #fee2d2;
  }
  .ears-left {
    left: -22px;
    transform: rotate(-105deg);
  }
  .ears-right {
    right: -22px;
    transform: rotate(-22deg);
  }
  .dog-body {
    width: 54px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: calc(50% - 35px);
    background-color: #d58b4e;
    border-radius: 49px 0 0 20px;
  }
  .dog-body:before {
    content: "";
    width: 50px;
    height: 60px;
    position: absolute;
    top: 3px;
    left: calc(50% - 17px);
    background-color: #efbf8e;
    border-radius: 100px 100px 0 0;
  }
  .dog-body:after {
    content: "";
    width: 15px;
    height: 30px;
    position: absolute;
    top: 32px;
    left: 28px;
    background-color: #d58b4e;
    border-radius: 100px 100px 0 0;
  }
  .dog-foot {
    width: 20px;
    height: 13px;
    position: absolute;
    z-index: 5;
    bottom: -3px;
    left: 8px;
    background-color: #fce2d3;
    border-radius: 10px 10px 0 0;
    box-shadow: 33px 0 0 #fce2d3;
  }
  @keyframes tail {
    0% {
      transform: rotate(-47deg);
    }
    100% {
      transform: rotate(-57deg);
    }
  }
  .dog-tail {
    width: 10px;
    height: 50px;
    position: absolute;
    top: 120px;
    left: calc(50% - 45px);
    background-color: #ecc093;
    transform: rotate(-47deg);
    border-radius: 10px 0 0 0px / 50px 0 0 0px;
    animation: tail .08s infinite alternate;
  }
  .ball {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0px;
    border-radius: 50%;
    background-color: #6E64F0;
  }


/* ---------END Password_change_done page-------- */
/* ---------Loader-------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/static/assets/img/ellipsis.gif') 50% 50% no-repeat;
}
/* ---------END Loader-------- */

/* ---------Index/Homepage page-------- */

.temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_tem {
  color: #2f6fb4;
  margin-bottom: 200px;
}

button {
  background: transparent;
  border: none;
  color: #305b9b;
  font-size: 50px;
}

.display-3 {
  font-size: 70px;
  align-items: center;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.chip {
  width: 1000px;
  height: 500px;
  background: #ffffff3b;
  backdrop-filter: blur(5px);
  padding: 50px;
  position: relative;
  top: 80px;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 20px;
}


#weather-icon,
#btnFahrenheit {
  color: #2d314a;
}

#description {
  position: relative;
  top: -15px;
  left: 20px;
  margin-top: 10px;
}

#otherDetails {
  margin-top: 30px;
  color: #2d314a;
  font-size: 25px;
}
/* ---------END Index/Homepage page-------- */

/* ---------Dashboard page-------- */

.Dashboard {
  text-align: center;
  font-size: 2.5em;
  color: #3779cf;
  padding: 20px 0;
  border-bottom: 3px solid #68e8ff;
  margin-bottom: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f55b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

  /* Adding a hover effect for interactivity */
  &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

table {
  width: 110%;
  border-collapse: collapse;
  margin-left: -50px;
  margin-bottom: 50px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #5a6b8e;
  font-size: 16px;
}

/* th:first-child, td:first-child {
  border-left: 1px solid #5a6b8e;;
}
th:last-child, td:last-child {
  border-right: 1px solid #5a6b8e;
} */

th {
  background-color: #3779cf;
  color: white;
}

th:hover {
  background-color: #8fd4ff;
  color: #006ec2;
}

tr:hover {
  background-color: #f5f5f55b;
  color: #006ec2;
}

.table_cooling {
  text-align: center;
}

/* ---------End Dashboard page-------- */

/* ---------Cooling Forecast page-------- */
.content_coolingforecast {
  display: flex; /* ใช้ Flexbox จัดการ layout */
  justify-content: space-between; /* จัดข้อมูลในแนวนอนให้ห่างกัน */
  align-items: start; /* จัดข้อมูลในแนวตั้งให้เริ่มจากบน */
  padding: 20px 0; /* เพิ่ม padding บน-ล่าง 20px */
}

.content_coolingform {
  flex: 1; /* ให้ form ครอบคลุมพื้นที่ทั้งหมดของแถว flex */
  margin-right: 50px; /* เพิ่ม margin ทางขวา 20px */
}

/* คุณสามารถเพิ่มส่วน content ที่จะแสดงทางด้านขวาได้ตรงนี้ */
.content_right_side {
  flex: 1; /* ให้ส่วนขวาครอบคลุมพื้นที่ทั้งหมดของแถว flex */
}

.cooling_title{
  color: #235781;
}
.cooling_title:hover {
  color: #ffffff;
}

.cooling-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding: 10px;
  border: 2px solid #68e8ff;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: -30px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.idcooling {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: -50px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.cooling-input:focus {
  border-color: #ffc144;
  box-shadow: 0 2px 6px rgba(55, 121, 207, 0.3);
}


.content_coolingform {
  text-align: left;
  font-size: 20px;
}

.coolingform {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 75vw;
  padding: 1rem 1.5rem;
  border-radius: 7.5px;
  background: #ffffff54;
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

label[for="id_cooling_input"]{
  color: #3989b7;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 5px;
}

label[for="labelidcooling"]{
  color: #3989b7;
  font-size: 20px;
  font-weight: normal;

}

label[for="id_cooling_input"]:hover{
  color: #ffffff;
}

/* ---------End Cooling Forecast page-------- */

/* ---------events_list page-------- */
.events-container {
  margin: 20px 0;
  padding: 0 20px;
}

.event-item {
  background-color: #f9f9f95b;
  backdrop-filter: blur(5px);
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.event-title {
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 40px;
}

.event-description {
  margin-left: 30px;
  margin-bottom: 10px;
  color: #666;
  font-size: 25px;
}

.event-date-time {
  margin-left: 30px;
  font-size: 0.9em;
  color: #444;
  margin-bottom: 10px;
  font-size: 20px;
}

.event-actions {
  display: flex;
  gap: 10px;
}

.event-edit-btn,
.event-delete-btn {
  margin-top: 10px;
  margin-left: 40px;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 0.9em;
  display: inline-block;
  transition: background-color 0.3s;
}

.event-edit-btn {
  background-color: #2c3e50;
  color: #fff;
}

.event-edit-btn:hover {
  background-color: #34495e;
}

.event-delete-btn {
  background-color: #e74c3c;
  color: #fff;
}

.event-delete-btn:hover {
  background-color: #c0392b;
}


.content-deletelist {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.deletelist{
  color: #ffffff;
  background-color: #c42a2a;
}

.titledeletelist {
  font-size: 20px;
}

.objecttitle{
  font-size: 30px;
}

/* ---------events_form page-------- */

label[for="id_event_title"],
label[for="id_event_description"],
label[for="id_start_time"],
label[for="id_end_time"]{
  color: #3989b7;
  font-size: 16px;
  font-weight: normal;
}

label[for="id_event_title"]:hover{
  color: #ffffff;
}
label[for="id_event_description"]:hover{
  color: #ffffff;
}
label[for="id_start_time"]:hover{
  color: #ffffff;
}
label[for="id_end_time"]:hover{
  color: #ffffff;
}

.datetimepicker{
  width: 300px;
}

.input_event_description{
  width: 300px;
}

.input_event_title{
  width: 300px;
}

.title_event{
  color: #235781;
  font-size: 50px;
  margin-bottom: 20px;
}
.title_event:hover {
  color: #ffffff;
}