{% extends "base.html" %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block content %}
<main>
<section class="content-section content-section-single">
    <div class="content-container">
        <form class="profileform" action="{% url 'coolingapp:profile' %}" method="post" enctype="multipart/form-data">
            <h1 class="userprofile">Profile : {{ user.username }} </h1>
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="form-field">
                <label for="id_first_name">First name <i class="fa fa-user" aria-hidden="true"></i></label>
                <div class="input_last_name">{{ form.first_name }}</div>
                {{ form.first_name.errors }}
            </div>
            <div class="form-field">
                <label for="id_last_name">Last name <i class="fa fa-user" aria-hidden="true"></i></label>
                <div class="input_last_name">{{ form.last_name }}</div>
                {{ form.last_name.errors }}
            </div>
            <div class="form-field">
                <label for="id_form.phone">Phone <i class="fa fa-mobile" aria-hidden="true"></i></label>
                <div class="input_phone">{{ extended_form.phone }}</div>
                {{ extended_form.phone.errors }}
            </div>
            <div class="form-field">
                <label for="id_form.job_positions">Job positions <i class="fa fa-briefcase" aria-hidden="true"></i></label>
                <div class="input_job_positions">{{ extended_form.job_positions }}</div>
                {{ extended_form.job_positions.errors }}
            </div>
            <div class="form-field">
                <label for="id_form.agency">Agency <i class="fa fa-location-arrow" aria-hidden="true"></i></label>
                <div class="input_agency">{{ extended_form.agency }}</div>
                {{ extended_form.agency.errors }}
            </div>
            <div class="form-field">
                <label for="id_form.employee_id">Employee id <i class="fa fa-location-arrow" aria-hidden="true"></i></label>
                <div class="input_employee_id">{{ extended_form.employee_id }}</div>
                {{ extended_form.employee_id.errors }}
            </div>
            <p>
                <button type="submit" class="btn btn-primary">Update profile <i class="fa fa-pencil-square" aria-hidden="true"></i></button>
            </p>
        </form>
    </div>
</section>
</main>
{% endblock %}
